@font-face {
    font-family: 'Berkshire Swash';
    src: url('BerkshireSwash-Regular.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
 }

body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-image: url('landingpagebackground.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    padding: 1em;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    position: relative;
    padding: 2em;
    padding-left: 100px;
    display: flex;
    align-items: center;
}
#palmIcon {
    width: 1000px; 
    height: 1000px; 
    margin-right: 10px;
}

footer.site-footer {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.5;
    color: white;
    padding: 2em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-links a {
    font-family: 'Berkshire Swash', cursive;
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}


h1 {
    margin: 0;
}

.menu-icon {
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 10px;
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4em;
    left: 0;
    background-color: #333;
    padding: 1em;
    width: 100%;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
    display: block;
}

.nav-links a:hover {
    background-color: #555;
}

.nav-links.show {
    display: flex;
}

.site-footer {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.5;
    color: white;
    padding: 2em;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.footer-links a {
    font-family: 'Berkshire Swash', cursive;
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.copyright {
    font-size: 0.8em;
    color: #fff;
    margin-top: 10px;
    font-family: 'Berkshire Swash', cursive;
}
.account-icon {
    position: absolute;
    top: 3em;
    right: 100px; 
}

.pageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    margin: 0;
    background-color: #ffffff;/* Set a light gray background color */
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

#loginForm { /* Set a white background color */
    background-color: #f0f0f0; 
    border-radius: 10px; /* Add rounded corners */
    padding: 8em 15em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */

}

#loginForm label {
    display: block;
    margin-bottom: 10px;
    text-align: end;
}

#loginForm input {
    width: 100%;
    padding: 10px;
    margin: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#loginForm button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Set a blue color for the button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#loginForm button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}

#forgotPasswordForm {
    background-color: #f0f0f0; 
    border-radius: 10px; /* Add rounded corners */
    padding: 8em 15em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

#forgotPasswordForm label {
    display: block;
    margin-bottom: 10px;
}

#forgotPasswordForm input {
    width: 100%;
    padding: 10px;
    margin: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#forgotPasswordForm button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Set a blue color for the button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#forgotPasswordForm button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}
